*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
.ssh/appuser
terraform/.ssh/*
/packer/variables.json
packer/variables.json
terraform2/*
terraforms/outputs.tf.save
terraform/stage/.terraform.tfstate.local.info

