*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
.ssh/appuser
terraform/.ssh/*
/packer/variables.json
packer/variables.json
terraform2/*
terraforms/outputs.tf.save
terraform/stage/.terraform.tfstate.local.info
*.retry
jdauphant.nginx
/ansible/vault.key
/packer/app_old.json
/packer/db_old.json
# vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
/ansible/.vscode/
/venv2/
